*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: rgb(255, 242, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    padding: 2%;
    background-color: rgb(255, 183, 49);
    border: 0;
    border-radius: 10%;
    transition:transform 0.3s ease;
    cursor: pointer;
    box-shadow: rgb(187, 125, 9) 2px 2px 2px 2px;
}
button:hover{
    transform: scale(1.1);
}